<a href="https://colab.research.google.com/github/ALXAVIER-DEV/Spark/blob/master/treino123.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Numpy

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
np.random.seed(100)
Serie1 = pd.Series(np.random.rand(10))

In [ ]:
Serie1

In [ ]:
type(Serie1)

In [ ]:
import calendar as cal

In [ ]:
meses = [cal.month_name[i] for i in np.arange(1, 13)]
meses_Series1 = pd.Series(np.arange(1, 13), index = meses)

In [ ]:
meses_Series1

In [ ]:
meses_Series1.index

## Usando dicionario de dados

In [ ]:
dict = {'US' : 'dollar', 'UK' : 'pound', 'Germany': 'euro', 'Brazil': 'real', 'China' : 'yuan', 'Japn': 'yen'}

In [ ]:
moeda_Series1 = pd.Series(dict)

In [ ]:
moeda_Series1

In [ ]:
sttokPrices = {'GOOG' : 1092.23, 'FB' : 59.78, 'TWTR': 67.31,'AMZN': 342.90,'AAPL': 501.60 }

In [ ]:
sttokPricesSeries = pd.Series(sttokPrices,
                              index = ( 'GOOG', 'FB','YHOO','TWTR','AMZN','AAPL'),
                              name = 'sttokPrices'
                              )

In [ ]:
sttokPricesSeries

In [ ]:
## Usando valores escalares

In [ ]:
humanSerie = pd.Series('Homen', index = ['pernas', 'tronco','peio', 'cabeca'])

In [ ]:
humanSerie

In [ ]:
#Obtenddo valor unico
dict['China']

In [ ]:
#Alterando um elemento
sttokPricesSeries['GOOG'] =1300.0

In [ ]:
sttokPricesSeries['XPTO']

In [ ]:
sttokPricesSeries.get('XPTO', np.NaN)

In [ ]:
sttokPricesSeries[sttokPricesSeries > 100]

In [ ]:
np.mean(sttokPricesSeries)

In [ ]:
np.std(sttokPricesSeries)

In [ ]:
!apt update
!apt list --update

In [ ]:

!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!pip install pyspark

In [ ]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"

In [ ]:
#from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[*]").getOrCreate()

In [ ]:
sc = spark.sparkContext

In [ ]:
spark

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
linhaRDD1 = sc.textFile ("/content/drive/My Drive/Spark_Treinamento/vgsales.csv")

In [ ]:
linhaRDD1.take(5)

In [ ]:
#Removendo a primeira linha da transformacao
linhardd2 = linhaRDD1.filter(lambda x : "EU_Sales" not in x)

In [ ]:
linhardd2.take(5)

In [ ]:
linhardd2.count()

In [ ]:
linhardd3 = linhardd2.map(lambda x: x.split(","))

In [ ]:
linhaddr4 = linhardd3.map(lambda x: Row(make = x[0], body = x[4], hp = int(x[7])))

In [ ]:
df = spark.createDataFrame(linhaddr4)